# Auto detect text files and perform LF normalization
* text=auto

###############################################################################
# Excludes source code files from being indexed
# by GitHub Linguist.
###############################################################################
**/Drivers/** linguist-vendored=true
